<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel=""stylesheet" href="app.css">
    <title>Boggle</title>
</head>
<body>
    <h1> Lets Boggle! </h1>
    <div class="container">
      <table>
        {% for row in board %}
        <tr> 
            {% for letter in row %}
             <td> {{letter}} </td>
            {% endfor %}
        </tr>
        {% endfor %}    
      </table>
    </div>
    <script src="app.js"></script>
   </body>
</html>