<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
  <nav id="nav-bar">
    <a>home</a>
    <a>signin</a>
    <a>signout</a>
    <a>signup</a>
  </nav>
    <h1> Lets Boggle! </h1>
    <div class="container">
      <table class="center">
        {% for row in board %}
        <tr> 
            {% for letter in row %}
             <td> {{letter}} </td>
            {% endfor %}
        </tr>
        {% endfor %}    
      </table>
    </div>
    <form id="form" action=" " method="post">
      <input type="'text" id="submittedword"> 
      <br>
      <button>Check my Word</button>
    </form>

    <div class="'text">
      <p id="response"></p>
    </div>
    
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/app.js"></script>

   </body>
</html>