<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
  <nav id="nav-bar">
    <a>home</a>
    <a>signin</a>
    <a>signout</a>
    <a>signup</a>
  </nav>
    <h1> Lets Boggle! </h1>
    <div class="container" id="gametable">
      <table id="table">
        {% for row in board %}
        <tr> 
            {% for letter in row %}
             <td> {{letter}} </td>
            {% endfor %}
        </tr>
        {% endfor %}    
      </table>
    </div>
    <form method="post" id="form">
      <input type="text" id="submittedword"> 
      <button>Go</button>
    </form>
    <div class="response_container">
      <p id="response"> Response to your word ...  </p>
      <p id="score"> Score: 0 </p>
    </div>
    <div class="container" id="img-wrapper">
    <img src="https://y.yarn.co/04feaf4c-5670-4792-ab8b-65db852f7758_text.gif" alt="friends_gif" width="500" height="400" style="border:5px solid black" >
    </div>  
    
    
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/app.js"></script>

   </body>
</html>